 h1{
            background-color: #5b77a5;
            text-align:center;
            color:blue !important;

        }
         
             nav a{
                font-size: 1.8em;
                color:#1a5060;
                background-color:#2c9c9e;
                padding:16px;
                padding-bottom:0px;
                border-top-left-radius:20px;
                border-top-right-radius:20px;
            }
            #wrapper {
                
                width: 900px;
                margin: 0 auto; 
                background-color:#2a5396;
                
                /* this aligns the whole section in the center */
                
            }
            #firstImage
            {
                
                 border: black 3px solid;
                border-radius: 10px;
                float:center;
            }
            #secondLogo
            {
                
                
                float: right;
    padding: 0 0 15px 15px;
    opacity: 1;
  
    margin: 0 0 10px 10;
            }
            body
            {
                background-color: #7587a3;
                
               
            }
            #infoPage, nav a:hover {
                background-color:#3467ba;
                font-size: 2em;
                transition: .5s;
                
            }
            ul
            {
            
            border-bottom:1px solid grey;
            
            }
            